<footer class="bt b--black-30 pa3 pt3 bg-near-white mt4">
    <nav class="tc w-100 pb3">
        {{ $image := resources.Get "socials/github.svg" }}<a class="dim" href="https://github.com/Mofrog"><img class="w2" src="{{ $image.RelPermalink }}"/></a>
        {{ $image := resources.Get "socials/telegram.svg" }}<a class="dim" href="https://t.me/sad_mofrog"><img class="w2" src="{{ $image.RelPermalink }}"/></a>
        {{ $image := resources.Get "socials/github.svg" }}<a class="fw6 pa1 hover-blue link mr3-m dib w-100">milky.way.pew.pew@gmail.com</a>
    </nav>
    <nav class="tc w-100">
        <a class="nowrap w-100 f5 black-60 link">(c) Александр Новиков 2023</a>
        <a class="nowrap hover-blue w-100 f6 fw6 black-60 link">Powered by <3</a>
    </nav>
</footer>