<header class="bb b--black-30 pa3 pt3 bg-near-white">
    <div class="dt-ns mw9 center w-100 black-80">
        <a class="nowrap tc f3 fw6 hover-blue black-80 link mr3-m dib w-100" href="{{ absURL "" }}">{{ .Title }}</a>
        <nav class="tc w-100 dtc-ns tl pb2">
            <a class="f4 mh2 nowrap lh-copy">{{ .Param "author" }}</a>
            <a class="f5 mh2 nowrap lh-copy">{{ .Param "age" }}</a>
            <a class="f5 mh2 lh-copy">{{ .Param "city" }}</a>
        </nav>
        <nav class="dtc-ns v-mid tc w-100">
            {{ $image := resources.Get "socials/github.svg" }}<a class="dim" href="https://github.com/Mofrog"><img class="w2" src="{{ $image.RelPermalink }}"/></a>
            {{ $image := resources.Get "socials/telegram.svg" }}<a class="dim" href="https://t.me/sad_mofrog"><img class="w2" src="{{ $image.RelPermalink }}"/></a>
            {{ $image := resources.Get "socials/github.svg" }}<a class="fw6 pa1 f6 hover-blue link mr3-m dib w-100">milky.way.pew.pew@gmail.com</a>
        </nav>
    </div>
</header>